extends layouts/main.pug
include mixins/videoBlock

block content
    .search_header
        h3 Searching by #{searchingBy}
    .search_videos
        if videos.length === 0
            h2 Not Found
        each item in videos
            +videoBlock(item)
